.grid-item {
  width: 25%;
}
.grid-item--width2 {
  width: 50%;
}
.pfpIcon{
  text-align: center;
}
.list {
  text-align: center;
}

.actuallist{
  text-align: left;
}
ul li {
   list-style-type: none;
    margin: 7px;
}

.app{
  background-color: rgba(78, 84, 86, 0.10);
  height: 800px;
  padding-left: 5px;
}
.App-logo {
  animation: App-logo-spin infinite 100s linear;
  height: 100px;
}

.App-header {
  background-color: transparent;
  height: 150px;
  padding: 20px;
  color: transparent;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header{
  background-color: transparent;
  height: 130px;
  padding: 20px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 'white';
}
